@import "tailwindcss";

@theme {
  --color-primary-color: #F28E01;
  --color-primary-color-dark: #DA8104;
  --color-secondary-color: #111827;
  --color-accent-color: #007FAF;
  --color-dark-section: #F6F7FB;
}